@model PersonasAPI.Models.UsuarioModelo
@{
    ViewData["Title"] = "EliminarUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card text-black">
    <div class="card-header text-center">
        Eliminar Usuario
    </div>
    <div class="card-body">
        <form class="row g-3" asp-action="EliminarUsuario" asp-controller="Usuario" method="post">
            <input type="hidden" id="IdPerson" asp-for="IdUser">
            <div class="alert alert-danger" role="alert">
                ¿Está seguro que desea eliminar el usuario @Model.Username?
            </div>
            <div class="col-12" align="right">
                <a class="btn btn-outline-warning" asp-action="ListaUsuarios" asp-controller="Usuario">Cancelar</a>
                <button type="submit" class="btn btn-danger">Confirmar</button>
            </div>
        </form>
    </div>
</div>