@{
    ViewData["Title"] = "Home Page";
    ViewData["Username"] = ViewBag.Username;
}

<div class="text-center">
    <h1 class="display-4">Bienvenid&#64; @ViewBag.Username al registro de Personas y Usuarios</h1>
    <p>En este modulo podras administrar el listado de Personas y su respectivo usuario, puedes navegar por los distintos menus para entrar en los catalogos.</p>

</div>
